.header {
    background-color: var(--color-badges);
    max-width: 1440px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
}

.logo {
    width: 104px;
    height: 16px;
}

.navList {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 32px;
}

.navList li a {
    color: var(--color-main);
}

.navList li a[aria-current="page"]{
    color: var(--color-button-hover);
}