.contentContainer {
    max-width: 1440px;
    height: 700px;
    background-image: 
    image-set(
        url('/img/hero-img.jpg') 1x,
        url('/img/hero-img-2x.jpg') 2x
    );
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    padding: 60px ;
    margin: 0 auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-white);
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: var(--color-white);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 276px;
    height: 44px;
    background-color: var(--color-button);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-white);
    cursor: pointer;
}